In [1]:
import pandas as pd 
df = pd.read_csv(r'C:\Users\dasc5\Downloads\Summer-Olympic-medals-1976-to-2008\Data\Summer-Olympic-medals-1976-to-2008.csv', encoding='latin1')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print(df.head())
print(df.info())
print(df.head())
print(df.columns)

       City    Year     Sport Discipline           Event  \
0  Montreal  1976.0  Aquatics     Diving  3m springboard
1  Montreal  1976.0  Aquatics     Diving  3m springboard
2  Montreal  1976.0  Aquatics     Diving  3m springboard
3  Montreal  1976.0  Aquatics     Diving  3m springboard
4  Montreal  1976.0  Aquatics     Diving    10m platform

                    Athlete Gender Country_Code        Country Event_gender  \
0         Kï¿½HLER, Christa  Women          GDR   East Germany            W
1       KOSENKOV, Aleksandr    Men          URS   Soviet Union            M
2      BOGGS, Philip George    Men          USA  United States            M
3  CAGNOTTO, Giorgio Franco    Men          ITA          Italy            M
4    WILSON, Deborah Keplar  Women          USA  United States            W

    Medal
0  Silver
1  Bronze
2    Gold
3  Silver
4  Bronze
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  float64
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.3+ MB
None
       City    Year     Sport Discipline           Event  \
0  Montreal  1976.0  Aquatics     Diving  3m springboard
1  Montreal  1976.0  Aquatics     Diving  3m springboard
2  Montreal  1976.0  Aquatics     Diving  3m springboard
3  Montreal  1976.0  Aquatics     Diving  3m springboard
4  Montreal  1976.0  Aquatics     Diving    10m platform

                    Athlete Gender Country_Code        Country Event_gender  \
0         Kï¿½HLER, Christa  Women          GDR   East Germany            W
1       KOSENKOV, Aleksandr    Men          URS   Soviet Union            M
2      BOGGS, Philip George    Men          USA  United States            M
3  CAGNOTTO, Giorgio Franco    Men          ITA          Italy            M
4    WILSON, Deborah Keplar  Women          USA  United States            W

    Medal
0  Silver
1  Bronze
2    Gold
3  Silver
4  Bronze
Index(['City', 'Year', 'Sport', 'Discipline', 'Event', 'Athlete', 'Gender',
       'Country_Code', 'Country', 'Event_gender', 'Medal'],
      dtype='object')

In [2]:
medal_tally = df.groupby(['Year', 'Country', 'Medal']).size().unstack(fill_value=0).reset_index()
medal_tally['Total'] = medal_tally[['Gold', 'Silver', 'Bronze']].sum(axis=1)
medal_tally.to_excel('medal_tally.xlsx', index=False)  # Export for Power BI